{% extends "base.html" %}
{% block content %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-6">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Categories</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        These categories segment the leads
      </p>
      <a href="{% url 'leads:category-create' %}" class="text-gray-900 hover:text-blue-500">Create a category</a>
    </div>
    <div class="flex justify-center flex-col text-center lg:w-2/3 w-full mx-auto">
        <div class="mx-auto w-1/3 bg-white rounded-lg shadow">
          <ul class="divide-y-2 divide-gray-100">
              {% for category in category_list %}
                <li class="p-3"><a class="hover:text-blue-500" href="{% url 'leads:category-detail' category.pk%}">{{ category.name }}</a></li>
              {% endfor %}
                <li class="p-3 bg-gray-200" >Unassigned ({{ unassigned_lead_count }})</li>
          </ul>
        </div>      
    </div>   
  </div>
</section>

{% endblock content %}