{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h1 class=" border-b border-gray-200 text-gray-900 text-5xl title-font font-medium mb-4">
            Agent Update
        </h1>
        <h2 class="text-sm title-font text-gray-500 tracking-widest">
            Agent
        </h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
            {{agent.user.username}}
        </h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">submit</button>
        </form>
        <a class="mt-6 hover:text-blue-500 inline-flex items-center" href="{% url 'agents:agent-detail' agent.pk %}">
          Go back to agent Overview
        </a>
        </div>
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://dummyimage.com/400x400">
    </div>
  </div>
</section>
{% endblock content %}